.stock-search{
display: flex;
justify-content: center;
align-items: center;
    height: 30px;

 

    input{
        margin-right: 5px;
        border-radius: 8px;
        border: none;
        padding-left: 10px;
        height: 100%;
        background-color: #969696;
    }
    ::placeholder{
        color: white;
    }

    button{
        display: inline-block;
        padding: 8px 20px;
        margin:10px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgb(255, 255, 255);
        background-color: #969696;
        border: none;
        border-radius: 8px;
        box-shadow: 0 1.5px #999;
    }
    button:hover {
        background-color: #8fd2d0;
    }

    button:active {
        background-color: #81b6b5;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
    }
}