/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    background-image: url(./assets/images/stock1.jpeg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(62, 62, 62);
}